# NoSQL Datastores (by metaphor)

## Key-Value Stores

In [35]:
data = {1: {"name": "John", "age": 50, "hobbies": ["computer games", "tennis"]},
        2: {"name": "James", "age": 68, "hobbies": ["hockey", "hairdressing", "drill music"]},
        3: {"name": "Armaghan", "age": 31, "hobbies": ["driving", "top gun"]},
        4: {"name": "Jordan", "age": 27}
       }

### Arbitrary Partitioning

In [36]:
centre = int(len(data) / 2) + 1
db1 = {key:data[key] for key in range(1, centre)}
db2 = {key:data[key] for key in range(centre, len(data) + 1)}
print(db1)
print(db2)

{1: {'name': 'John', 'age': 50, 'hobbies': ['computer games', 'tennis']}, 2: {'name': 'James', 'age': 68, 'hobbies': ['hockey', 'hairdressing', 'drill music']}}
{3: {'name': 'Armaghan', 'age': 31, 'hobbies': ['driving', 'top gun']}, 4: {'name': 'Jordan', 'age': 27}}

### Range Partitioning

In [37]:
db3 = {}
db4 = {}

for key in range(1, len(data) + 1):
    try:
        if data[key]["age"] < 40:
            db3[key] = data[key]
        else:
            db4[key] = data[key]
    except:
        pass

print(db3)
print(db4)

{3: {'name': 'Armaghan', 'age': 31, 'hobbies': ['driving', 'top gun']}, 4: {'name': 'Jordan', 'age': 27}}
{1: {'name': 'John', 'age': 50, 'hobbies': ['computer games', 'tennis']}, 2: {'name': 'James', 'age': 68, 'hobbies': ['hockey', 'hairdressing', 'drill music']}}

## Column Databases

In [38]:
# note this an inefficient implementation
db5 = {}
db6 = {}
supercol = {}
count = 0

for key in range(1, len(data) + 1):
    try:
        if data[key]["name"] and data[key]["age"]:
            db5[count] = {"name": data[key]["name"], "age": data[key]["age"]}
            supercol[str(key)+"-db5"] = count
    except:
        try:
            if data[key]["name"]:
                db5[count] = {"name": data[key]["name"]}
                supercol[str(key)+"-db5"] = count
        except:
            try:
                if data[key]["age"]:
                    db5[count] = {"age": data[key]["age"]}
                    supercol[str(key)+"-db5"] = count
            except:
                pass
    
    try:
        if data[key]["hobbies"]:
            db6[count] = {"hobbies": data[key]["hobbies"]}
            supercol[str(key)+"-db6"] = count
    except:
        pass
    
    count += 1
    
print(db5)
print(db6)
print(supercol)

{0: {'name': 'John', 'age': 50}, 1: {'name': 'James', 'age': 68}, 2: {'name': 'Armaghan', 'age': 31}, 3: {'name': 'Jordan', 'age': 27}}
{0: {'hobbies': ['computer games', 'tennis']}, 1: {'hobbies': ['hockey', 'hairdressing', 'drill music']}, 2: {'hobbies': ['driving', 'top gun']}}
{'1-db5': 0, '1-db6': 0, '2-db5': 1, '2-db6': 1, '3-db5': 2, '3-db6': 2, '4-db5': 3}

## Graph Databases

In [44]:
newdata = {1: {"name": "John", "age": 50, "hobbies": ["computer games", "tennis"], "manager": "Dan"},
        2: {"name": "James", "age": 68, "hobbies": ["hockey", "hairdressing", "drill music"], "manager": None},
        3: {"name": "Armaghan", "age": 31, "hobbies": ["driving", "top gun"], "manager": "Michael"},
        4: {"name": "Jordan", "age": 27, "manager": "John"},
        5: {"name": "Michael", "age": 40, "hobbies": ["python", "childcare"], "manager": "Dan"}
       }

In [46]:
# note this an inefficient implementation
graph = {}
meta = {}
count = 0

for key in range(1, len(newdata) + 1):
    try:
        if newdata[key]["manager"] != None:
            graph[count] = {"Source": newdata[key]["name"], "Target": newdata[key]["manager"], "Direction": "Unidirectional"}
            meta[count] = newdata[key]
            meta[count].pop("manager", None)
            count += 1
    except:
        pass
    
import pandas as pd
graphdf = pd.DataFrame(graph)

print(graphdf.transpose())
print(meta)

     Source   Target       Direction
0      John      Dan  Unidirectional
1  Armaghan  Michael  Unidirectional
2    Jordan     John  Unidirectional
3   Michael      Dan  Unidirectional
{0: {'name': 'John', 'age': 50, 'hobbies': ['computer games', 'tennis']}, 1: {'name': 'Armaghan', 'age': 31, 'hobbies': ['driving', 'top gun']}, 2: {'name': 'Jordan', 'age': 27}, 3: {'name': 'Michael', 'age': 40, 'hobbies': ['python', 'childcare']}}